.input {
  background-color: var(--color-grey-md);
  border: none;
  padding: var(--space-s);
  border-radius: var(--border-radius);
  color: var(--color-txt);
  font-size: var(--font-main);
  font-family: var(--font);
}

.task__input {
  width: 50%;
  margin: var(--space-s);
}

.task__form {
  display: flex;
  align-items: center;
}

.task__form > button {
  margin-left: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form > button {
  margin-top: var(--space-s);
  align-self: center;
}

.modal__label {
  color: var(--color-txt);
  font-size: var(--font-main);
  margin-top: var(--space-s);
}

.modal__input {
  min-width: 40rem;
  margin: var(--space-s) 0 var(--space-xs) 0;
}

.modal__input--error {
  box-shadow: 0 0 0 2pt var(--color-danger);
}

.modal__error {
  color: var(--color-danger);
  font-size: var(--font-main);
  font-weight: 600;
  margin: var(--space-xs) 0;
}
