.btn {
  background-color: inherit;
  border: 2px solid var(--color-main);
  border-radius: var(--border-radius);
  color: var(--color-main);
  font-size: var(--font-util);
  line-height: calc(var(--font-util) * 2);
  margin: var(--space-xxs);
  padding: 0 var(--space-xs);
  cursor: pointer;
  font-weight: 300;
  transition: all 0.2s;
  font-family: var(--font);
}

.btn:hover {
  color: var(--color-txt);
  background-color: var(--color-main);
}

.btn--login {
  border: 2px solid var(--color-bg-dark);
}

.btn--login:hover {
  color: var(--color-txt);
  background-color: inherit;
  border: 2px solid var(--color-main);
}

.btn--guest {
  color: var(--color-txt);
  background-color: var(--color-main);
  font-weight: 600;
}

.btn--reg {
  font-weight: 600;
}

.btn--delete,
.btn--task {
  margin-left: auto;
  padding: var(--space-xxs);
  line-height: var(--font-main);
}

.btn--task {
  background-color: transparent;
  margin-left: var(--space-s);
}
