.home__container {
  margin: var(--space-xl) auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-m);
}

.home__buttons {
  display: flex;
  flex-direction: column;
}

.home__h {
  font-size: var(--font-h1);
  color: var(--color-txt);
  text-align: end;
}

.home__main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__img {
  max-width: 40%;
}

@media only screen and (max-width: 500px) {
  .home__container {
    flex-direction: column;
  }
  .home__main {
    align-items: center;
  }
  .home__h {
    text-align: center;
  }
}
