header {
  display: flex;
  padding: var(--space-m);
  align-items: center;
}
.header__logo {
  height: 6rem;
  padding-right: var(--space-xs);
}

.header__txt {
  display: flex;
  line-height: 5rem;
}

.header__buttons {
  margin-left: auto;
}

.header__h {
  font-size: 3rem;
  font-weight: 600;
}
