.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-grey-light);
  padding: var(--space-s) var(--space-m);
  border-radius: var(--border-radius);
  max-width: 46rem;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__h {
  font-size: var(--font-util);
}

.modal__overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.527);
  backdrop-filter: blur(3px);
}

.modal__helper {
  font-size: var(--font-main);
  color: var(--color-txt);
}

.modal__helper > a {
  cursor: pointer;
  font-weight: 600;
}
