footer {
  display: flex;
  padding: var(--space-m);
  justify-content: center;
  margin-top: auto;
}

.footer__txt {
  color: var(--color-txt);
  font-size: var(--font-main);
}

.heart {
  filter: invert(8%) sepia(87%) saturate(7272%) hue-rotate(344deg)
    brightness(75%) contrast(92%);
  height: 3rem;
  vertical-align: middle;
}
