:root {
  --space-xl: 8rem;
  --space-l: 4rem;
  --space-m: 3rem;
  --space-s: 1.5rem;
  --space-xs: 1rem;
  --space-xxs: 0.5rem;
  --color-main: #00adb5;
  --color-main-dark: #006166;
  --color-txt-light: #eeeeee;
  --color-danger: #fc5475;

  --font-h1: 4rem;
  --font-h2: 3rem;
  --font-h3: 2.6rem;
  --font-main: 1.6rem;
  --font-util: 2rem;

  --border-radius: 5px;
  --font: "Raleway", sans-serif;
}

.theme--dark {
  --color-bg: #20262c;
  --color-bg-md: #2d353b;
  --color-bg-light: #565c61;
  --color-txt: #eeeeee;
  --color-txt-inactive: #999999;
}

.theme--light {
  --color-bg: #ffffff;
  --color-bg-md: #e7e7e7;
  --color-bg-light: #f8f8f8;
  --color-txt: #505050;
  --color-txt-inactive: #b4b4b4;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  max-width: 1466px;
  font-family: var(--font);
  margin: 0 auto;
  background-color: var(--color-bg);
  transition: all 0.4s;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: var(--color-txt);
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-main);
}

.link--emphasized {
  cursor: pointer;
  font-weight: 600;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2pt var(--color-main);
}
